[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run start"
  port = 8888
  targetPort = 8080

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    Referrer-Policy = "strict-origin-when-cross-origin"
